body{
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1400px;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#logo{
    width: 100px;
    align-self: center;
}

nav {
    height: 100px;
}

nav #navMenu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav a{
    color:black;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
 }

 nav a:hover{ /*Blue color when hovering*/
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

nav a:active{ /*Blue color when selected*/
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

/*main*/

main{
    margin-top: 50px;
    margin-bottom: 50px;
}

main h1{
    font-weight: 700;
    font-size: 22px;
}

main a{
text-decoration: none;
color: black;
}

/*Search section*/

.searchSection{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.titleBlock{
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchBlock{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#formulaire{
    width: 303px;
    height: 49px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#formulaire input{
    border: none;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 30px 14px 16px;
}

.searchBlock .fa-sharp.fa-solid.fa-location-dot{
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.searchButton{
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}

.searchButton input{
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 0 15px 15px 0;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.fa-solid.fa-magnifying-glass{
    width: 49px;
    height: 49px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: white;
}

.filtersButtons{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-solid.fa-info{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

/*Hebergements and Populaires section*/

.hebergementsAndPopulairesSection{
    display: flex;
    justify-content: space-between;
}

.fa-solid.fa-star{
    height: 12px;
    width: 12px;
    padding-right: 2px;
}

/*Hébergements section*/

.hebergementsSection{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px 20px;
    width: 60%;
}

.hebergementsBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
}

.hebergementsCard{
    background-color: white;
    border-radius: 20px 20px;
    border: 5px solid white;
    box-shadow: 0 3px 4px #D9D9D9;
    height: 199px;
}

.hebergementsSection img{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
}

.hebergementSummary{
    width: 100%;
    justify-content: space-around;
    height: 75px;
}

.hebergementsSection h2{
    font-weight: 700;
    font-size: 22px; 
}

.hebergementsSection h3{
    font-weight: 700;
    font-size: 16px;
    margin: 4px 0 5px 16px;
}

.hebergementsSection h4{
    font-weight: 400;
    font-size: 14px; 
    margin: 4px 0 5px 16px;
}

.hebergementsSection h4 strong{
    font-weight: 600;
    font-size: 14px; 
}

.hebergementsSection .score{
    margin: 4px 0 11px 16px;
}

#moreHebergements{
    margin-top: 40px;
    display: block;
    font-weight: 700;
    font-size: 18px; 
}

/*Populaires section*/

.populairesSection{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px 20px;
    width: 30%;
}

.populairesTitle{
    display:flex;
    justify-content: space-between;
}

.fa-solid.fa-chart-line{
    color: #0065FC;
    height: 15.75px;
    width: 18px;
    align-self: center;
}

.populairesBlock{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.populairesCard{
    background-color: white;
    border-radius: 20px 20px;
    border: 5px solid white;
    box-shadow: 0 3px 4px #D9D9D9;
    height: 144px;
}

.populairesCard a{
    display: flex;
    justify-content: flex-start;
}

.populairesImage{
    height: 144px;
    width: 40%;
    border-radius: 20px 0 0 20px;
    object-fit:cover;
}

.populairesSummary{
    height: 144px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.populairesInfo{
    width: 100%;
}

.populairesSection h2{
    font-weight: 700;
    font-size: 22px; 
}

.populairesSection h3{
    font-weight: 700;
    font-size: 16px;
    margin: 4px 0 5px 16px;
}

.populairesSection h4{
    font-weight: 400;
    font-size: 14px; 
    margin: 4px 0 5px 16px;
}

.populairesSection h4 strong{
    font-weight: 600;
    font-size: 14px; 
}

.populairesSection .score{
    margin: 4px 0 11px 16px;
}

/*Activites section*/

.activitesSection{
    margin-top: 50px;
    margin-bottom: 50px;
}

.activitesBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

.activitesBlock h2{
    font-weight: 700;
    font-size: 22px;
}

.activitesBlock h3{
    border-radius: 0 0 15px 15px;
    box-shadow: 0 3px 4px #D9D9D9;
    padding-left: 15px;
    height: 56px;
    line-height: 86px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

.activitesBlock img{
    width: 100%;
    height: 389px;
    border-radius: 15px 15px 0 0;
    object-fit:cover;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
    padding: 10px 35px;
    margin: 20px;
    margin-top: 50px;
}

footer .columnFooter{
    width: 33%;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer a{
    text-decoration: none;
    color:black;
    display: block;
    padding-top: 10px;
}