body{
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

#logo{
    width: 100px;
    align-self: center;
}

nav {
    height: 100px;
}

nav #navMenu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav a{
    color:#D9D9D9;
    text-decoration: none;
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 250px;
    text-align: center;
    font-size: 16px;
 }

p{
    font-weight: 700;
}