
@media all and (max-width: 768px)

{
    
/*Header for mobile*/

    header{
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav #navMenu{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav a{ 
        border-bottom: 2px #F2F2F2 solid;
    }

    nav a:hover{ /*Blue color when hovering*/
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
        border-top: none;
    }
    
    nav a:active{ /*Blue color when selected*/
        color: #0065FC;
        border-bottom: 2px #0065FC solid;
        border-top: none;
    }

    /*Hebergements section for mobile*/

    .hebergementsSection{
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: white;
        padding: 20px;
        border-radius: 0 0;
    }

    .hebergementsBlock{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #moreHebergements{
        display: none; 
    }

    /*Activites section for mobile*/


    .activitesBlock{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .activitesBlock img{
        height: 150px;
    }

/*Footer for mobile*/
    footer{
        flex-direction: column;
    }

    footer .columnFooter{
        width: 100%;
    }


}