@media screen and (max-width: 767px) {

    body {
        padding: unset;
        margin: unset;
    }

    main {
        margin-bottom: 80px;
    }

    /*Header for mobile*/

    header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    nav #nav-menu {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .nav-button {
        flex: 1;
    }

    .nav-link {
        border-bottom: 2px var(--lightgrey-color) solid;
        display: block;
        text-align: center;
        margin: 0;
    }

    nav a:hover,
    nav a:active {
        /*Blue color when hovering and selected*/
        color: var(--blue-color);
        border-bottom: 2px var(--blue-color) solid;
        border-top: none;
    }

    /*Search section for mobile*/

    .search-section {
        padding: 0 20px;
    }

    .title-block,
    .search-block {
        margin-bottom: 30px;
    }

    /*location form*/

    #location-form-input {
        width: 100%;
        min-width: 250px;
    }

    .search-action {
        width: 49px;
    }

    .fa-solid.fa-magnifying-glass {
        width: 49px;
        height: 49px;
        background-color: var(--blue-color);
        border-radius: 0 15px 15px 0;
        border: 1px solid var(--blue-color);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: white;
        cursor: pointer;
    }

    .search-button {
        display: none;
    }

    /*filters*/

    .filters-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        margin-bottom: 40px;
    }

    .filters-title {
        align-self: flex-start;
    }

    .filters-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }

    .filters-buttons-card {
        height: 50px;
        padding: 0px 13px;
    }

    .filters-buttons-content {
        font-size: 14px;
    }

    /*Accomodations and Popular sections display for mobile*/

    .accomodations-and-popular-section {
        flex-wrap: wrap-reverse;
        margin-bottom: 0;
    }

    /*Accomodations section for mobile*/

    #accomodations-section {
        background-color: white;
        border-radius: 0 0;
        width: 100%;
        flex: unset;
        margin: 0 0 20px 0;
    }

    #accomodations-title {
        margin: 0 0 20px 0;
    }

    .accomodations-block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .accomodations-summary {
        margin: 0 10px;
    }

    #more-accomodations {
        display: none;
    }

    /*Popular section for mobile*/

    .popular-section {
        border-radius: 0 0;
        width: 100%;
        flex: unset;
        margin: 10px 0 10px 0;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .popular-block {
        grid-gap: 1em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Activities section for mobile*/

    #activities-section {
        margin-top: 20px;
        padding: 20px 20px 0 20px;
    }

    .activities-block {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 1.5em;
    }

    .activities-card {
        height: 190px;
    }

    .activities-image {
        height: 134px;
    }

    /*Footer for mobile*/
    footer {
        flex-direction: column;
        margin: 0;
        padding: 20px 30px;
    }

    footer .footer-column {
        width: 100%;
    }

}