
@media screen and (min-width: 768px) and (max-width: 992px)

{

/*Search section for tablet*/

.filtersBlock{
    gap: 0.7em;
}

.filtersButtons {
    gap: 0.7em;
}

.filtersButtonCard {
    padding: 14px 10px 14px 11px;
    gap: 0.25em;
}

/*Hebergements and Populaires sections display for tablet*/

.hebergementsAndPopulairesSections{
    flex-wrap: wrap;
}

/*Hébergements section for tablet*/

.hebergementsSection{
    width: 100%;
    flex: unset;
    margin: 0 0 20px 0;
}

.hebergementsBlock{
    grid-gap: 2em;
}

/*Populaires section for tablet*/

.populairesSection{
    width: 100%;
    flex: unset;
    margin: 20px 0 0 0;
    padding-bottom: 40px;
}

.populairesBlock{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.populairesCard h3{
    font-size: 14px;
}

.populairesCard h4{
    font-size: 13px; 
}

.populairesCard h4 strong{
    font-size: 13px; 
}

/*Activites section for tablet*/

.activitesSection{
    margin-top: 60px;
}

.activitesBlock{
    margin: 40px 0 40px 0;
}

.activitesCard{
    height: 267px;
}

.activitesImage{
    height: 211px;
}
}