@media screen and (min-width: 768px) and (max-width: 991px) {

    /*Search section for tablet*/

    #location-form-input {
        width: 40%;
    }

    .filters-block,
    .filters-buttons {
        gap: 0.7em;
    }

    .filters-buttons-card {
        padding: 14px 10px 14px 11px;
        gap: 0.25em;
    }

    /*Accomodations and Popular sections display for tablet*/

    .accomodations-and-popular-section {
        flex-wrap: wrap;
    }

    /*Accomodations section for tablet*/

    #accomodations-section {
        width: 100%;
        flex: unset;
        margin: 0 0 20px 0;
    }

    .accomodations-block {
        grid-gap: 2em;
    }

    .accomodations-summary {
        margin: 0 10px;
    }

    /*Popular section for tablet*/

    .popular-section {
        width: 100%;
        flex: unset;
        margin: 20px 0 0 0;
        padding-bottom: 40px;
    }

    .popular-block {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .popular-card h3 {
        font-size: 14px;
    }

    .popular-card h4 {
        font-size: 13px;
    }

    /*Activities section for tablet*/

    #activities-section {
        margin-top: 60px;
    }

    .activities-block {
        margin: 40px 0 40px 0;
    }

    .activities-card {
        height: 267px;
    }

    .activities-image {
        height: 211px;
    }
}